<!DOCTYPE html>
<html lang="en">
<head>
  <title>Application Cinema</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cinemas</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/cinema">Cinema</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<!--    router outlet shows the content of the componenet specified in the router -->
    <router-outlet>


  </router-outlet>

</div>

</body>
</html>

